/* Vars */
:root {
  --dark-green: #329550;
  --med-green: #89D5A0;
  --light-green: #C9EDD4;
  --syne: "Syne", sans-serif;
  --hanken: "Hanken Grotesk", sans-serif;
  --pico-background-color: hsl(220, 24%, 16.8%) !important;
}

/* Fonts */
@font-face {
  font-family: 'Hanken Grotesk';
  src: url('fonts/subset-HankenGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('fonts/subset-HankenGrotesk-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('fonts/subset-Syne-Extra.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--syne);
}

p, a {
  color: #C9EDD4;
  font-family: var(--hanken);
}

a

/* Page */
:root, html {
  scroll-behavior: smooth;
}

::selection {
	background-color: brown;
}

.container {
  padding-bottom: 11rem;
}

/* Header */
header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 4rem;
}

.header__logo {
  max-width: 150px;
  margin-top: 3rem;
}

.header__heading {
  font-size: 2rem;
  margin-block: 2rem 1rem;
  font-family: Syne;
  font-weight: 900;
  color: var(--dark-green);
}

.header__subheading {
  font-size: 1.3rem;
  font-family: var(--hanken);
  font-weight: 300;
  letter-spacing: 0.035em;
  color: var(--med-green);
}

.header__subheading a {
  --pico-underline: #329550;
}

.header__copy {
  max-width: 32ch;
  text-align: center;
}

/* Work Sections */
.section--web, .section--design {
  margin-bottom: 7rem;
}

/* Work Grid */
.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.work-grid--design {
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

@media screen and (max-width: 1023px) {
  .work-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .work-grid--design {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .work-grid {
    grid-template-columns: 1fr;
  }

  .work-grid--design {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.75rem;
  }
}

@media screen and (max-width: 581px) {
  .work-grid--design {
    grid-template-columns: 1fr;
  }
}

.work-item {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-content: start;
  align-items: start;
}

.work-item a {
  align-self: center;
}

.work-item-thumb {
  position: relative;
  aspect-ratio: 1;
  object-fit: contain;
  z-index: 1;
}

.work-item:has(.work-item-thumb + .work-item-thumb) {
  padding-right: 20px;
}

.work-item-thumb + .work-item-thumb {
  position: absolute;
  z-index: 0;
  transform: translate(20px, 20px);
  width: calc(100% - 20px);
}

@media screen and (max-width: 581px) {
  .work-item-thumb + .work-item-thumb {
    position: absolute;
    z-index: 0;
    transform: translate(20px, 30px);
    width: calc(100% - 20px);
  }
}

.work-item-thumb:has(+ .work-item-thumb) {
  filter: drop-shadow(5px 5px 2.5px #13171f82);
}

.section--web .work-item-thumb {
  object-fit: cover;
  aspect-ratio: 5/4;
  margin-bottom: 1rem;
}

.work-grid__client-heading {
  font-family: var(--hanken);
  font-weight: 400;
  letter-spacing: 0.015em;
  color: #fff;
}

.work-grid__client-heading:not(:first-of-type) {
  margin-top: 4rem;
}

.work-grid__category-heading {
  color: var(--light-green);
}

.work-item-title {
  color: #fff;
  font-family: var(--hanken);
  font-size: 1.2rem;
  font-weight: 300;
}

.work-item-categories {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
}

.work-item-category {
  flex: 0 1 auto;
  display: inline-block;
  min-width: 8.5ch;
  width: auto;
  margin: 0;
  padding: 0.5em 0.75em;
  border-radius: 3rem;
  background: rgb(47, 79, 68);
  color: #fff;
  font-family: var(--hanken);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
